<%= fname %>
<br>
<%= lname %>
<br>
<%= gname %>

<form method="post" action="/player_two">
  First name: <input type="text" name="fname2"><br>
  Last name: <input type="text" name="lname2"><br>
  <input type="submit" value="Submit">
</form>